
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<br />
<br />
<br />
<h1>Filtre Detayları</h1>

Bookpickdate: <b>@ViewBag.bookpickdate</b>
<br />
Bookoffdate: <b>@ViewBag.bookoffdate</b>
<br />
timepick: <b>@ViewBag.timepick</b>
<br />
timeoff: <b>@ViewBag.timeoff</b>
<br />
locationID: <b>@ViewBag.locationID</b>

